---
Checks: '
bugprone*,
-bugprone-easily-swappable-parameters,
-bugprone-empty-catch,
cppcoreguidelines*,
-cppcoreguidelines-avoid-const-or-ref-data-members,
-cppcoreguidelines-avoid-non-const-global-variables,
-cppcoreguidelines-init-variables,
-cppcoreguidelines-macro-usage,
-cppcoreguidelines-non-private-member-variables-in-classes,
-cppcoreguidelines-pro-type-const-cast,
-cppcoreguidelines-pro-type-vararg,
-cppcoreguidelines-pro-type-member-init,
performance*,
-performance-avoid-endl,
readability*,
-readability-braces-around-statements,
-readability-identifier-length,
'
WarningsAsErrors: '*'
