[Unit]
Description=enable ir emitter
After=multi-user.target suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target

[Service]
Type=one-shot
ExecStart=/usr/bin/linux-enable-ir-emitter -f

[Install]
WantedBy=multi-user.target suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target
