[Unit]
Description=enable the infrared emitter
After=multi-user.target suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target

[Service]
Type=oneshot
ExecStartPre=/sbin/modprobe uvcvideo
ExecStart=/usr/bin/linux-enable-ir-emitter run

[Install]
WantedBy=multi-user.target suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target
