Source: linux-enable-ir-emitter
Maintainer: Maxime Dirksen (EmixamPP) <ppa@emixam.be>
Section: video
Priority: important
Standards-Version: 4.0.0
Build-Depends: debhelper, dh-make, debhelper, fakeroot, make, g++, libopencv-dev (>= 3.4.6)
Homepage: https://github.com/EmixamPP/linux-enable-ir-emitter
Vcs-Git: https://github.com/EmixamPP/linux-enable-ir-emitter

Package: linux-enable-ir-emitter
Architecture: amd64
Depends: libopencv-dev (>= 3.4.6), python3 (>= 3.6.1)
Description: Enables infrared cameras that are not directly enabled out-of-the box