name: Update OpenCV
on:
  workflow_dispatch:
  schedule:
    - cron:  '0 7 * * *'

jobs:
  update-opencv:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Fetch release version
        env:
            GITHUB_TOKEN: ${{ github.token }}
            OWNER: opencv
            REPO: opencv
        run: |
            VERSION=$(gh api "/repos/$OWNER/$REPO/releases/latest" --jq ".tag_name")
            echo "VERSION=$VERSION" >> "$GITHUB_ENV"

      - name: Modify file if new version
        run: |
            sed -i 's/\(set(OPENCV_GIT_TAG "\)[^"]*\(".*\)/\1${{ env.VERSION }}\2/' .github/workflows/deps/CMakeLists.txt

      - name: Create PR if new version
        uses: peter-evans/create-pull-request@v8
        with:
            token: ${{ secrets.PAT }}
            title: "chore(ci): update opencv to ${{ env.VERSION }}"
            branch: "opencv-${{ env.VERSION }}"
            commit-message: "chore(ci): update opencv to ${{ env.VERSION }}"
            body: |
              Update OpenCV to ${{ env.VERSION }}.

              This PR has been created automatically.
            committer: github-actions[bot] <noreply@github.com>
            author: github-actions[bot] <noreply@github.com>
            assignees: "EmixamPP"
            labels: dependencies
            delete-branch: true
