name: Release

on:
  workflow_dispatch:

jobs:
  build:
    uses: ./.github/workflows/build.yml
    with:
      release: true

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v6

      - name: Download artifacts
        uses: actions/download-artifact@v8

      - name: Create tag
        uses: rickstaa/action-create-tag@v1
        with:
          tag: ${{ needs.build.outputs.version }}

      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          files: linux-enable-ir-emitter-*.tar.gz
          tag_name: ${{ needs.build.outputs.version }}
          fail_on_unmatched_files: true
          draft: true
          make_latest: true
          body: |
            ## What's Changed
            See [CHANGELOG.md](https://github.com/EmixamPP/linux-enable-ir-emitter/blob/master/CHANGELOG.md)

            ## Contributors
            @EmixamPP
